h1
{
 
    text-align: center;
    color: white;
}

.titre-para
{

    width: 100%;
    left: 20%;
   
    border-radius: 0 0 15px 15px;
    background: rgba(20, 158, 101, 0.664);
    backdrop-filter: blur(10px);
}

#carte
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.prix{
    position: relative;
    top: 15px;
}
.prix1{
    position: relative;
    top: 12px;
}
.prix2{
    position: relative;
    top: -4px;
}



#bouton-achete
{
    position: relative;
    top: 20px;
}

#bouton-achete1
{
    position: relative;
    top: 15px;
}
#bouton-achete2
{
    position: relative;
    top: -2px;
}


h2
{
    margin: 40px 0 15px 0;
    text-align: center;
    font-size: 2em;
}

#carte1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#carte1 img
{
   width: 80px;
   height: 80px;
   border-radius: 50%;
}

.avis
{

    width: 90%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avis p 
{
    margin: -2px 0 -2px 10px;
}